body {
  margin: 0;
  font-family: "Lora", serif;
  background: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.menu {
  padding: 40px 0 20px;
  text-align: right;
  color: #525252;
  text-transform: uppercase;
  font-size: 14px;
}
.menu_link {
  display: inline-block;
  margin-right: 40px;
}
.menu_link:hover {
  text-decoration: underline;
}
.logo {
  display: block;
  float: left;
  padding: 20px 0 10px;
}
.logo_img {
  width: 120px;
}
.promo {
  color: #525252;
  font-weight: 700;
  min-height: 600px;
  padding: 180px 0;
  text-align: center;
  background: url(../img/promo.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.promo_title {
  font-size: 45px;
}
.promo_subtitle {
  display: block;
  font-size: 45px;
}
.promo_btn {
  display: inline-block;
  margin-top: 25px;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  background: #f8cd53;
  text-transform: uppercase;
  transition: 300ms;
}
.promo_btn:hover {
  padding: 15px 40px;
  border-radius: 0;
}
.content_title {
  margin-top: 70px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  color: #302a2a;
}
.content_subtitle {
  display: block;
  font-size: 20px;
  margin-top: 8px;
  color: #525252;
}
.courses {
  margin-top: 50px;
}
.course_item {
  display: inline-block;
  margin-right: 45px;
  width: 300px;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
}
.course_item:last-child {
  margin-right: 0;
}
.course_img {
  display: inline-block;
  overflow: hidden;
}
.course_img img {
  width: 100%;
  transition: 1s;
}
.course_img img:hover {
  transform: scale(1.2);
}
/* .course_img:hover {
  -webkit-animation: fade 0.8s;
  animation: fade 0.8s;
}
@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
} */
.course_info {
  padding: 20px;
}
.course_title {
  margin-bottom: 10px;
  text-transform: uppercase;
}
.course_title_link {
  font-size: 17px;
  color: #484848;
  font-weight: 700;
}
.course_description {
  font-size: 14px;
  color: #484848;
  line-height: 20px;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 20px;
  margin-bottom: 15px;
}
.course_btn {
  display: inline-block;
  color: #fff;
  background: #26a6d1;
  font-size: 16px;
  padding: 10px 30px;
}
.btn_wrapper {
  text-align: right;
}
.footer {
  background: #515151;
  text-align: right;
  margin-top: 100px;
}
.copyright {
  padding: 20px 0;
  font-size: 14px;
  color: #cecece;
  font-weight: 400;
}
